<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<parameter name="URL" value="testing.com"></parameter>
		<classes>
			<class name="practise.ClassOne" />
			<class name="practise.ClassThree" />

		</classes>
	</test> <!--Test -->

	<test name="testingMethods">
		<classes>
			<class name="practise.ClassTwo">
				<!--<methods>
					<exclude name="StudentLogin"></exclude>
					<include name="StudentLogin"></include>
			</methods>-->
				<!--<methods>
				<include name="Student.*"></include>
			</methods>-->

			</class>
		</classes>
	</test>
</suite> <!--Suite -->
